<a href="https://colab.research.google.com/github/JuanTLA16/funcion_range/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series usando for

In [ ]:
# Serie 1: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

print("------------------------------------")
print("---------------SERIE 1--------------")
print("------------------------------------")


S = "Serie: {"
for i in range(1,11):
  S = S + str(i) + ", "
S = S + "}"
print(S)

In [11]:
# Serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81, .....

print("------------------------------------")
print("---------------SERIE 2--------------")
print("------------------------------------")

S = "Serie: {"
for i in range(1,11):
  if i != 10:
    S = S + str(i**2) + ", "
  else:
    S = S + str(i**2)
S = S + "}"
print(S)

------------------------------------
---------------SERIE 2--------------
------------------------------------
Serie: {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}